#bg-cards {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-around;
  margin: 2vh 5vw;
}

#card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
  width: 18%;
  border: 1px solid white;
}

#card h2 {
  margin-top: 5%;
}

#card img {
  width: 180%;
}

#card p {
  margin: 1.5%;
  text-align: center;
}

.text {
  background-color: #040b15;
}
